@model u22550667_HW03.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Students.FirstOrDefault().name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.FirstOrDefault().surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.FirstOrDefault().birthdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.FirstOrDefault().gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.FirstOrDefault().@class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.FirstOrDefault().point)
        </th>
        <th></th>
    </tr>

    @foreach (var students in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => students.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => students.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => students.birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => students.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => students.@class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => students.point)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = students.studentId }) |
                @Html.ActionLink("Details", "Details", new { id = students.studentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = students.studentId })
            </td>
        </tr>
    }
</table>
