@model u22550667_HW03.Models.book

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <center>
        <div>

            <h4>Book Details</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Book Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>

                <dt>
                    Page Count
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pagecount)
                </dd>

                <dt>
                    Point
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.point)
                </dd>

                <dt>
                    Author Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.author.name)
                </dd>

                <dt>
                    Book Type
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.type.name)
                </dd>

            </dl>
        </div>
        <p>

            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
        </p>
    </center>
</body>
</html>
